<app-search-bar (search)="searchVideosByTerm($event)" ></app-search-bar>

<div (scroll)="onScroll($event)" *ngIf="videos.length"
     class="list"
     >
    <div  *ngFor="let item of videos" class="card">
        <img [src]="item.snippet.thumbnails.high.url" />
        <div class="title">{{item.snippet.title+''}}</div>
        <div class="channel-name">{{item.snippet.channelTitle}}</div>
        <p class="description">{{item.snippet.description}}</p>
        <button class="detail-button" mat-button (click)="showDetails(item.id.videoId)">Detalhes</button>
    </div>
</div>
<div class="no-result" *ngIf="!videos.length && !loading">
    Nenhum resultado encontrado. Pesquise novamente com uma palavra chave diferente.
</div>
