.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    height: 88vh;
    overflow: auto;
}

img{
    width: 100%;
    height: 200px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 12px;
}

.card > * {
    margin: 3px 0;
}

.channel-name{
    font-weight: 500;
}

.title{
    align-self: flex-start;
    font-weight: 500;
    font-size: 18px;
}

.detail-button{
    align-self: center;
}

@media only screen and (min-width: 768px) {
    .list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card{
        margin: 5px;
        align-self: baseline;
        height: 100%;
    }
}